@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

:root {
    /* #002244 */
    --btn-color: #0500FF; 
    /* #375A7F */
    --btn-hover-color: #131184;
    
    /* #0082E0 */
    --hour-table-selected-state: #0500FF;
    /* #DEEFFB */
    --btn-hour-table-available-state: #131184;
    /* 0082E0 */
    --text-hour-table-available-state: white;

    /* none; */
    --border: 2px solid black;
}

a {
    color: #ffff;
    text-decoration: none;
}

.content-distance {
    margin-top: 100px;
}

.font{
    font-family: 'Raleway', sans-serif;
    font-size: 25px !important;
}

.btnadic{
    position: relative;
    left: -290px;
}

.btn-adicprof {
    background-color: var(--btn-color);
    position: relative;
    /* bottom: 75px; */
    width: 300px;
    height: 52px;
}

.btn-adicprof:hover {
    background-color: var(--btn-hover-color);
}

.buscar{
    border: var(--border);
    height: 62px;
    width: 450px;
    background-color: #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-size: 25px !important;
    color: #606060;
    padding-left: 79px;
}

.lupa{
    position: relative;
    left: 69px;
    top: 2px;
}

.btn-remover {
    background-color: var(--btn-color);
    position: relative;
    /* bottom: 75px; */
    width: 230px;
    height: 52px;
    margin-right: 50px;
}

.btn-remover:hover {
    background-color: var(--btn-hover-color);
}

.caixa-medico {
    border: var(--border);
    position: relative;
    height: 187px;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;

    background: #000000;
}

.outline-marker {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    border-radius: 40px;
    border: 2px solid  white;
    top:38px;
    height: 40px;
    color: white;
}

.linha-verical {
    width: 38px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 
}

.acessib-cor{
    color: white;
    outline: #FFFFFF;
}

.acessib-cor:focus, .acessib-cor:hover {
    color: white;
}

.item1:hover {
    background-color: #0082E0;
}

.item2:hover {
    background-color: #0082E0;
}

.item3:hover {
    background-color: #0082E0;
}