<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="logo.png" width="254px" height="54px" alt="logo">
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a id="inicio" href="#" class="text-white ms-4 mb-0 font-header">INICIO</a>
                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGIN</a>
                <a id="registrar" href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>
            </div>
        </nav>
    </header>
    
    <div class="formulario">
        <div class="campos">
            <h1>Preencha algumas informações adicionais para realizar o agendamento:</h1>

            <div class="texto">
                <h3 >Nome do médico</h3>
                <input type="text" id="nomeMedico" readonly>
            </div>
            
            <div class="texto">
                <h3>Horário</h3>
                <input type="time" id="horarioSelecionado" readonly>
            </div>

            <div class="texto">
                <h3>Convênio médico</h3>
                <input type="text" id="convenioMedico" placeholder="Selecione seu convênio médico">
            </div>


            <div class="info">
                <h3>Resuma em poucas palavras o motivo da consulta e seus sintomas</h3>
                <textarea style="width: 100%; height: 110px; resize: none;"" placeholder="Digite aqui qualquer informação que você gostaria de compartilhar antes da consulta..." id="motivoConsulta"></textarea>
            </div>

            <div id="btnagendamento">
                <button class="botao">CONFIRMAR AGENDAMENTO</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../HeaderFooter/scriptColor.js"> </script>

    <script>
        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
            if (fontSize <= 30){
                fontSize += 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        
            if (fontSize >= 16){
                fontSize -= 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Event listeners para os botões de alteração de tamanho da fonte
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';

        //concluir agendamento salvando os dados 
        // localStorage.getItem('horario')
        var urlParams = new URLSearchParams(window.location.search);
        var inputElement = document.getElementById('horarioSelecionado');
        inputElement.value = urlParams.get("horario");
        inputElement = document.getElementById('nomeMedico');
        inputElement.value = urlParams.get("nomeMedico");
        var data = urlParams.get('data');

        //salvando agendamento no banco de dados 
        document.getElementById("btnagendamento").addEventListener("click", function () {
            const nome_medico = document.getElementById('nomeMedico').value;
            const horario = document.getElementById('horarioSelecionado').value + ":00";
            const convenio_medico = document.getElementById('convenioMedico').value;
            const motivo_consulta = document.getElementById('motivoConsulta').value;

            //Construir o objeto com os dados a serem enviados
            const dados = {
                nome_medico: nome_medico,
                horario: horario,
                convenio_medico: convenio_medico,
                motivo_consulta: motivo_consulta,
                data: data,
                id_paciente: localStorage.getItem("id_paciente"),
                id_medico: localStorage.getItem("id_medico")
            };

            console.log(dados);

            // Configurar as opções da requisição POST
            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(dados)
            };

            // Enviar a requisição POST para a URL desejada
            fetch('/agendamento', requestOptions)
            .then(response => response.text())
            .then(data => {
                // Tratar a resposta da API
                location.href = '../tela2-medico/index.html';
            })
            .catch(error => {
            // Tratar erros
            console.error('Erro:', error);
            });
        });

    </script>
</body>

</html>
