@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

:root {
    /* #002244 */
    --btn-color: #0500FF; 
    /* #375A7F */
    --btn-hover-color: #131184;
    
    /* #0082E0 */
    --hour-table-selected-state: #0500FF;
    /* #DEEFFB */
    --btn-hour-table-available-state: #131184;
    /* 0082E0 */
    --text-hour-table-available-state: white;

    /* none; */
    --border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color:   #FFFFFF;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #ffff;
    text-decoration: none;
}

/* NavBar */
nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #000000;
}

/* Formulário */
.formulario {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.campos h3 {
    padding-top: 2%;
}

.campos input {
    height: 50px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-left: 1%;
    font-size: 15px;
    font-weight: 500;
    background-color: #EBEBEB;
    border: var(--border);
    border-radius: 10px;
}

.campos textarea {
    height: 100px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 15px;
    font-weight: 500;
    background-color: #EBEBEB;
    border: var(--border);
    border-radius: 10px;
}

/* .campos button {
    border: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 00;
    color:  #FFFFFF;
    width: 25%;
    height: 50px;
    float:right; 
    background: var(--btn-color);
    border-radius: 30px;
} */

.botao {
    border: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 00;
    color:  #FFFFFF;
    width: 300px;
    height: 50px;
    float:right; 
    background: var(--btn-color);
    border-radius: 30px;
}

.botao:hover {
    background-color: var(--btn-hover-color);
}

/* 
.botao {
    margin-top: 2%;
    background-color: var(--btn-color);
}

.botao:hover {
    background-color: var(--btn-hover-color);
} */

.outline-marker {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    border-radius: 40px;
    border: 2px solid  white;
    top:38px;
    height: 40px;
    color: white;
}

.linha-verical {
    width: 38px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 
}

.acessib-cor{
    color: white;
    outline: #FFFFFF;
}

.acessib-cor:focus, .acessib-cor:hover {
    color: white;
}

.item1:hover {
    background-color: #0082E0;
}

.item2:hover {
    background-color: #0082E0;
}

.item3:hover {
    background-color: #0082E0;
}