<!DOCTYPE html>
<html lang="pt-br">
    <!-- <link rel="stylesheet" type="text/css" href="style1.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="../HeaderFooter/logo.png" width="254px" height="54px" alt="logo">
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a href="#" class="text-white ms-4 mb-0 font-header">INÍCIO</a>
                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGIN</a>
                <a id="registrar" href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>

                <!-- <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li> -->
            </div>
        </nav>
    </header>

    <div class="formulario">
        <div>
            <h1>Formulário do Paciente</h1> <br><br>
            <form id="myForm" action="http://localhost:3000/usuarios/criar-conta">
                <label for="nome">Nome completo do paciente</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="dataNascimento"> Data de nascimento</label>
                <input type="date" id="dataNascimento" name="dataNascimento" required>
                
                <label for="idade">Idade do paciente</label>
                <input type="number" id="idade" name="idade" readonly>
                
                <label for="endereco">Endereço completo</label>
                <input type="text" id="endereco" name="endereco" required>
                
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" name="telefone" required>
                
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
                
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
                
                <input id='btn1' type="submit" value="Enviar">
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="../HeaderFooter/face.svg" alt="facebook">
                    <img  src="../HeaderFooter/insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- HTTP assíncrono -->
    <script>
        // Cálculo da idade do paciente
        document.getElementById("dataNascimento").addEventListener("change", function() {
            var dataNascimento = new Date(this.value);
            var dataAtual = new Date();
            var idade = dataAtual.getFullYear() - dataNascimento.getFullYear();
            document.getElementById("idade").value = idade;
        });

        document.getElementById("btn1").addEventListener("click", function() {
            event.preventDefault(); // Impede o envio padrão do formulário

            var nome_completo     = document.getElementById("nome").value;
            var data_nascimento   = document.getElementById("dataNascimento").value;
            var idade             = document.getElementById("idade").value;
            var endereco_completo = document.getElementById("endereco").value;
            var email             = document.getElementById("email").value;
            var telefone          = document.getElementById("telefone").value;
            var username          = document.getElementById("username").value;
            var senha             = document.getElementById("senha").value;
            var cargo             = 0;
            const url             = 'http://localhost:3000/usuarios/criar-conta'; // Substitua pelo URL do seu endpoint de destino

            var dados = { nome_completo: nome_completo,
                            data_nascimento: data_nascimento,
                            idade: idade,
                            endereco_completo: endereco_completo,
                            email: email,
                            telefone: telefone,
                            username: username,
                            senha: senha,
                            cargo: cargo };

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(dados)
            };

            fetch(url, requestOptions)
            .then( async (response) => alert( await response.text()))
        });
    </script>

<script>
    // Função para aumentar o tamanho da fonte
    function aumentarFonte() {
    var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
    if (fontSize <= 20){
        fontSize += 2;
    }
    console.log(fontSize);
    document.documentElement.style.fontSize = fontSize + 'px';
    localStorage.setItem('fontSize', fontSize);
    }

    // Função para diminuir o tamanho da fonte
    function diminuirFonte() {
    var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;

    if (fontSize >= 16){
        fontSize -= 2;
    }
    console.log(fontSize);
    document.documentElement.style.fontSize = fontSize + 'px';
    localStorage.setItem('fontSize', fontSize);
    }

    // Event listeners para os botões de alteração de tamanho da fonte
    document.getElementById('btnAumentarFonte').addEventListener('click', aumentarFonte);
    document.getElementById('btnDiminuirFonte').addEventListener('click', diminuirFonte);

    // Aplicar o tamanho de fonte armazenado no carregamento da página
    var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
    document.documentElement.style.fontSize = fontSize + 'px';

</script>

    <script src="../HeaderFooter/scriptColor.js">
    </script>
</body>

</html>
