<!DOCTYPE html>
<html lang="pt-br">
    <!-- <link rel="stylesheet" type="text/css" href="style1.css"> -->
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Medicine</title>
</head>


<body>
    <header>
        <nav>
            <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            <ul class="nav-list">
                <button id="btnAumentarFonte">A+</button>
                <button id="btnDiminuirFonte">A-</button>
                <button id='btnColor' class="botaocss">ALTERAR TEMA</button>
                <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="../tela0-login/index.html">LOGIN</a></li>
            </ul>
        </nav>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <div class="formulario">
        <div>
            <h1>Preencha os dados para efetuar o cadastro</h1> <br><br>
            <form id="myForm" action="http://localhost:3000/usuarios/criar-conta">
                <label for="nome">Nome completo</label>
                <input type="text" id="nome" name="nome" required placeholder="Insira seu nome completo">
                

                <div class="d-flex">
                    <div class="col-6  me-2">
                        <label for="dataNascimento">Data de nascimento</label>
                        <input type="date" id="dataNascimento" name="dataNascimento" required >
                    </div>
                    <div class="w-100">
                        <label for="idade">Idade do paciente</label>
                        <input type="number" id="idade" readonly >
                    </div>
                </div>
                
                <label for="endereco">Endereço completo</label>
                <input type="text" id="endereco" name="endereco" required placeholder="Insira seu endereço completo (cidade,rua, número...)">
                
                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" name="telefone" required placeholder="Insira seu número de telefone">
                
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required placeholder="Insira seu endereço de email"> 
                
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Insira seu nome de usuário">
                
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required placeholder="Insira sua senha">
                
                <input id='btn1' type="submit" value="Realizar cadastro">
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="../HeaderFooter/face.svg" alt="facebook">
                    <img  src="../HeaderFooter/insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>
    
    <!-- HTTP assíncrono -->
    <script>
        // Cálculo da idade do paciente
        document.getElementById("dataNascimento").addEventListener("change", function() {
            var dataNascimento = new Date(this.value);
            var dataAtual = new Date();
            var idade = dataAtual.getFullYear() - dataNascimento.getFullYear();
            document.getElementById("idade").value = idade;
        });

        document.getElementById("btn1").addEventListener("click", function() {
            event.preventDefault(); // Impede o envio padrão do formulário

            var nome_completo     = document.getElementById("nome").value;
            var data_nascimento   = document.getElementById("dataNascimento").value;
            var idade             = document.getElementById("idade").value;
            var endereco_completo = document.getElementById("endereco").value;
            var email             = document.getElementById("email").value;
            var telefone          = document.getElementById("telefone").value;
            var username          = document.getElementById("username").value;
            var senha             = document.getElementById("senha").value;
            var cargo             = 0;
            const url             = 'http://localhost:3000/usuarios/criar-conta'; // Substitua pelo URL do seu endpoint de destino

            var dados = { nome_completo: nome_completo,
                            data_nascimento: data_nascimento,
                            idade: idade,
                            endereco_completo: endereco_completo,
                            email: email,
                            telefone: telefone,
                            username: username,
                            senha: senha,
                            cargo: cargo };

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(dados)
            };

            fetch(url, requestOptions)
            .then( async (response) => alert( await response.text()))
        });
    </script>

<script>
    // Função para aumentar o tamanho da fonte
    function aumentarFonte() {
    var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
    if (fontSize <= 20){
        fontSize += 2;
    }
    console.log(fontSize);
    document.documentElement.style.fontSize = fontSize + 'px';
    localStorage.setItem('fontSize', fontSize);
    }

    // Função para diminuir o tamanho da fonte
    function diminuirFonte() {
    var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;

    if (fontSize >= 16){
        fontSize -= 2;
    }
    console.log(fontSize);
    document.documentElement.style.fontSize = fontSize + 'px';
    localStorage.setItem('fontSize', fontSize);
    }

    // Event listeners para os botões de alteração de tamanho da fonte
    document.getElementById('btnAumentarFonte').addEventListener('click', aumentarFonte);
    document.getElementById('btnDiminuirFonte').addEventListener('click', diminuirFonte);

    // Aplicar o tamanho de fonte armazenado no carregamento da página
    var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
    document.documentElement.style.fontSize = fontSize + 'px';

</script>

    <script src="../HeaderFooter/scriptColor.js">
    </script>
</body>

</html>
