<!DOCTYPE html>
<html lang="pt-br">
    <!-- <link rel="stylesheet" type="text/css" href="style1.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="../HeaderFooter/logo.png" width="254px" height="54px" alt="logo">
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a href="#" class="text-white ms-4 mb-0 font-header">INÍCIO</a>
                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGIN</a>
                <a id="registrar" href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>

                <!-- <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li> -->
            </div>
        </nav>
    </header>

    <div class="formulario">
        <div>
            <h1>Preencha os dados para efetuar o cadastro</h1> <br><br>
            <form id="myForm" action="/usuarios/criar-conta">
                <label for="nome">Nome completo</label>
                <input type="text" id="nome" name="nome" required placeholder="Insira seu nome completo">
                

                <div class="d-flex">
                    <div class="col-6  me-2">
                        <label for="dataNascimento">Data de nascimento</label>
                        <input type="date" id="dataNascimento" name="dataNascimento" required >
                    </div>
                    <div class="w-100">
                        <label for="idade">Idade do paciente</label>
                        <input type="number" id="idade" readonly >
                    </div>
                </div>
                
                <label for="endereco">Endereço completo</label>
                <input class="applyBorder" type="text" id="endereco" name="endereco" required placeholder="Insira seu endereço completo (cidade,rua, número...)">
                
                <label for="telefone">Telefone</label>
                <input class="applyBorder" type="tel" id="telefone" name="telefone" required placeholder="Insira seu número de telefone">
                
                <label for="email">E-mail</label>
                <input class="applyBorder" type="email" id="email" name="email" required placeholder="Insira seu endereço de email"> 
                
                <label for="username">Username</label>
                <input class="applyBorder" type="text" id="username" name="username" required placeholder="Insira seu nome de usuário">
                
                <label for="senha">Senha</label>
                <input class="applyBorder" type="password" id="senha" name="senha" required placeholder="Insira sua senha">
                
                <input class="applyBorder" id='btn1' type="submit" value="Realizar cadastro">
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../HeaderFooter/scriptColor.js"> </script>
    <!-- HTTP assíncrono -->
    <script>
        // Cálculo da idade do paciente
        document.getElementById("dataNascimento").addEventListener("change", function() {
            var dataNascimento = new Date(this.value);
            var dataAtual = new Date();
            var idade = dataAtual.getFullYear() - dataNascimento.getFullYear();
            document.getElementById("idade").value = idade;
        });

        document.getElementById("btn1").addEventListener("click", function() {
            event.preventDefault(); // Impede o envio padrão do formulário

            var nome_completo     = document.getElementById("nome").value;
            var data_nascimento   = document.getElementById("dataNascimento").value;
            var idade             = document.getElementById("idade").value;
            var endereco_completo = document.getElementById("endereco").value;
            var email             = document.getElementById("email").value;
            var telefone          = document.getElementById("telefone").value;
            var username          = document.getElementById("username").value;
            var senha             = document.getElementById("senha").value;
            var cargo             = 0;
            const url             = '/usuarios/criar-conta'; // Substitua pelo URL do seu endpoint de destino

            var dados = { nome_completo: nome_completo,
                            data_nascimento: data_nascimento,
                            idade: idade,
                            endereco_completo: endereco_completo,
                            email: email,
                            telefone: telefone,
                            username: username,
                            senha: senha,
                            cargo: cargo };

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(dados)
            };

            fetch(url, requestOptions)
            .then((response) => {
                if(response.ok) {
                    location.href = '../tela0-login/index.html';
                } else {
                    alert('Erro ao criar conta.');
                }
            })
            .catch(err => {
                alert(err);
            })
        });
    </script>

    <script>
        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
            if (fontSize <= 20){
                fontSize += 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;

            if (fontSize >= 16){
                fontSize -= 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';
    </script>
</body>
</html>
