@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

:root {
    /* #002244 */
    --btn-color: #0500FF; 
    /* #375A7F */
    --btn-hover-color: #131184;
    
    /* #0082E0 */
    --hour-table-selected-state: #0500FF;
    /* #DEEFFB */
    --btn-hour-table-available-state: #131184;
    /* 0082E0 */
    --text-hour-table-available-state: white;

    /* none; */
    --border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color:   #FFFFFF;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

.applyBorder {
    border: var(--border);
}

a {
    color: #ffff;
    text-decoration: none;
}

/* NavBar */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;

background: #000000;
}

.nav-list{
    list-style: none;
    display:flex;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    top:38px;
    height: 21px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left:32px;
}

header ul li:nth-child(5) a {
    position: relative;
    width: 42px;
    height: 0px;
    right: 15%;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 

}

.logo{
    position: relative;
    width: 254px;
    height: 54px;
    left: 10px;
}

/* /////////////////////////// */

.formulario {
    position: relative;
    top: 60px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background: #D9D9D9;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #606060;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="submit"] {
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
    border-radius: 20px;
    width: 100%;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: var(--btn-hover-color);
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 800px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.formulario h1 {
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #000;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    line-height: normal
}


.formulario label {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font-header {
    font-family: 'Raleway', sans-serif;
}

.outline-marker {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    border-radius: 40px;
    border: 2px solid  white;
    top:38px;
    height: 40px;
    color: white;
}

.linha-verical {
    width: 38px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 
}

.acessib-cor{
    color: white;
    outline: #FFFFFF;
}

.acessib-cor:focus, .acessib-cor:hover {
    color: white;
}

.item1:hover {
    background-color: #0082E0;
}

.item2:hover {
    background-color: #0082E0;
}

.item3:hover {
    background-color: #0082E0;
}

/* Footer */

footer {
    padding: 3% 0 3% 0;
    margin-top: 10%;
    display: flex;
    background-color: #000;
    justify-content: center;
}

.conteudo-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.links-footer {
    list-style: none;
    align-items: center;
}

.links-footer a {
    padding-top: 10px;
}

.facebook {
    padding: 5px 5px 5px 0;
}