<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <link  rel="stylesheet" type="text/css" href="style1.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

    <title>Medicine</title>
</head>

<body>
    <header>
        <nav class="d-flex align-items-center">
            <div>
                <img src="../HeaderFooter/logo.png" width="254px" height="54px" alt="logo">
            </div>
            <div class="nav-list d-flex align-items-center justify-content-center">
                <a> </a>
                <a> </a>
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a href="#" class="text-white ms-4 mb-0 font-header">INÍCIO</a>
                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>

                <!-- <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li> -->
            </div>
        </nav>
    </header>
    
    <main class="main">
        <div class="formulario">
            <h1>Login</h1>
            <form>
                <label for="username">Usuário:</label>
                <input type="text" id="username" placeholder="Digite seu usuário"> <br><br>
                
                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="Digite sua senha">
                
                <input type="submit" value="Entrar" id="btn2">
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="../HeaderFooter/face.svg" alt="facebook">
                    <img  src="../HeaderFooter/insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- HTTP síncrono -->
    <script>
        document.getElementById("btn2").addEventListener("click", function() {
            event.preventDefault(); // Impede o envio padrão do formulário
    
            var username = document.getElementById("username").value;
            var senha    = document.getElementById("password").value;
            
            const url = 'http://localhost:3000/login';
    
            var data = { username, senha };
    
            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'Content-Type': 'application/json' },
                async: false // Torna a requisição síncrona
            })
            .then(response => response.json())
            .then(data => {
                if(data.result == 1) {
                    if(data.type == 0) {
                        localStorage.setItem("id_paciente", data.id);
                    } else {
                        localStorage.setItem("id_medico", data.id);
                    }
                    location.replace(data.message);
                } else {
                    alert(data.message);
                }
            })
        });
    </script>
    

    <script>
        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        if (fontSize <= 30){
            fontSize += 2;
        }
        console.log(fontSize);
        document.documentElement.style.fontSize = fontSize + 'px';
        localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
    
        if (fontSize >= 16){
            fontSize -= 2;
        }
        console.log(fontSize);
        document.documentElement.style.fontSize = fontSize + 'px';
        localStorage.setItem('fontSize', fontSize);
        }

        // Aplicar o tamanho de fonte armazenado no carregamento da página
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';

        while(localStorage.length) {
            localStorage.removeItem(localStorage.key(0))
        }
    </script>
    <script src="../HeaderFooter/scriptColor.js">
    </script>


</body>

</html>