<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav class="d-flex align-items-center">
            <div>
                <img src="../HeaderFooter/logo.png" width="254px" height="54px" alt="logo" onclick="window.location.href='/view/tela1-profissionais/index.html'">
            </div>
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGIN</a>
                <a id="registrar" href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>

                <!-- <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li> -->
            </div>
        </nav>
    </header>
    
    <div class="formulario">
        <div class="campos">
            <h1>Preencha algumas informações adicionais para realizar o agendamento:</h1>

            <div class="texto">
                <h3 >Nome do médico</h3>
                <input type="text" id="nomeMedico" readonly>
            </div>

            <div class="texto">
                <h3>Horário</h3>
                <input type="time" style="display: none;">
            </div>
            
            <div class="agendamento">
                <table class="tabela">
                    <thead class = "dias">
                        <tr id="cabecalho_dias">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tabela2">
                        <tr>
                            <td class = "indisponivel">08:00</td>
                            <td class = "indisponivel">08:00</td>
                            <td class="indisponivel">08:00</td>
                            <td class="indisponivel">08:00</td>
                            <td class = "indisponivel">08:00</td>
                            <td class = "indisponivel">08:00</td>
                            <td class = "indisponivel">08:00</td>
                        </tr>
                        <tr>
                            <td class="indisponivel">09:00</td>
                            <td class="indisponivel">09:00</td>
                            <td class="indisponivel">09:00</td>
                            <td class="indisponivel">09:00</td>
                            <td class="indisponivel">09:00</td>
                            <td class="indisponivel">09:00</td>
                            <td class="indisponivel">09:00</td>
                        </tr>
                        <tr>
                            <td class="indisponivel">10:00</td>
                            <td class="indisponivel">10:00</td>
                            <td class="indisponivel">10:00</td>
                            <td class = "indisponivel">10:00</td>
                            <td class="indisponivel">10:00</td>
                            <td class = "indisponivel">10:00</td>
                            <td class = "indisponivel">10:00</td>
                        </tr>
                        <tr>
                            <td class="indisponivel">11:00</td>
                            <td class="indisponivel">11:00</td>
                            <td class="indisponivel">11:00</td>
                            <td class="indisponivel">11:00</td>
                            <td class="indisponivel">11:00</td>
                            <td class = "indisponivel">11:00</td>
                            <td class = "indisponivel">11:00</td>
                        </tr>
                        <tr>
                            <td class="indisponivel">14:00</td>
                            <td class="indisponivel">14:00</td>
                            <td class="indisponivel">14:00</td>
                            <td class = "indisponivel">14:00</td>
                            <td class="indisponivel">14:00</td>
                            <td class="indisponivel">14:00</td>
                            <td class="indisponivel">14:00</td>
                        </tr>
                        <tr>
                            <td class = "indisponivel">15:00</td>
                            <td class = "indisponivel">15:00</td>
                            <td class = "indisponivel">15:00</td>
                            <td class = "indisponivel">15:00</td>
                            <td class = "indisponivel">15:00</td>
                            <td class = "indisponivel">15:00</td>
                            <td class = "indisponivel">15:00</td>
                        </tr>
                        <tr>
                            <td class="indisponivel">16:00</td>
                            <td class="indisponivel">16:00</td>
                            <td class="indisponivel">16:00</td>
                            <td class="indisponivel">16:00</td>
                            <td class="indisponivel">16:00</td>
                            <td class="indisponivel">16:00</td>
                            <td class="indisponivel">16:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="texto">
                <h3>Convênio médico</h3>
                <input type="text" id="convenioMedico" placeholder="Selecione seu convênio médico">
            </div>


            <div class="info">
                <h3>Resuma em poucas palavras o motivo da consulta e seus sintomas</h3>
                <textarea style="width: 100%; height: 110px; resize: none;"" placeholder="Digite aqui qualquer informação que você gostaria de compartilhar antes da consulta..." id="motivoConsulta"></textarea>
            </div>

            <div id="btnagendamento">
                <button class="btn btn-primary btn-agendar">CONFIRMAR AGENDAMENTO</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../HeaderFooter/scriptColor.js"> </script>

    <script>
        const consulta = JSON.parse(localStorage.getItem('consulta_usuario'));

        // Horários
        var horario = undefined;
        var horarioMarcado = '';
        var data = '';

        function selecionarHorario(event) {
            // Verificar se o horário está disponível
            if (!this.classList.contains('indisponivel')) {
                if(horario != undefined) {
                    horario.className = 'disponivel';
                }

                this.className = 'selecionado';

                if(horario==this) {
                    this.className = 'disponivel'
                    horarioMarcado='';
                    horario = undefined;
                }else{
                    horarioMarcado = this.textContent;
                    var cell = event.target;
                    // var rowIndex = cell.parentNode.rowIndex; // Índice da linha
                    var cellIndex = cell.cellIndex; // Índice da célula na linha
                    data = document.getElementById('cabecalho_dias').children[cellIndex].children[1].textContent;
                    horario=this;
                }
            }
        }

        function getDateInfo(date) {
            const weekIndex = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];

            const today  = date ?? new Date();

            return {
                day: today.getDate(),
                week: {
                    name: weekIndex[today.getDay()],
                    number: today.getDay()
                },
                month: today.getMonth()+1
            }
        }

        function getWeekDateInfo() {
            const weekIndex = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];
            const date = new Date();

            const getDateIncreased = (days) => {
                return new Date(date.setDate(date.getDate() + days));
            }

            return Array(7).fill(0).map((v, i) => getDateInfo(getDateIncreased(!!i)));
        }

        // carregar os horários do médico

        const weekInfo = getWeekDateInfo();

        const url = `/listarHorarios/${consulta.id_medico}`;

        fetch(url).then(res => {
            if(res.ok) {
                return res.json();
            } else {
                throw new Error("Falha na requisição. Código de status: " + res.status);
            }
        }).then(res => {
            const semanaIndex = {};

            weekInfo.forEach((v, index) => {
                semanaIndex[v.day + '/' + v.month] = index;
            });

            const horaIndex = {
                '08:00:00': 0,
                '09:00:00': 1,
                '10:00:00': 2,
                '11:00:00': 3,
                '14:00:00': 4,
                '15:00:00': 5,
                '16:00:00': 6,
            };

            const table = document.getElementById('tabela2');
            const tabelaHorario = Array(7).fill([]).map(e => Array(7).fill({}));

            var outerIndex = 0;
            for(let i of table.children) {
                var innerIndex = 0;
                for(let j of i.children) {
                    tabelaHorario[outerIndex][innerIndex] = j
                    innerIndex++;
                }
                outerIndex++;
            }

            for(let horario of res) {
                if(semanaIndex[horario.data] != undefined) {
                    tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.data]].className = 'disponivel';
                    tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.data]].addEventListener('click', selecionarHorario);
                }
            }

            // Mostrando o horário que foi inicialmente selecionado

            if(semanaIndex[consulta.data] != undefined) {
                tabelaHorario[horaIndex[consulta.horario + ':00']][semanaIndex[consulta.data]].className = 'selecionado';
                tabelaHorario[horaIndex[consulta.horario + ':00']][semanaIndex[consulta.data]].addEventListener('click', selecionarHorario);
                horarioMarcado  = consulta.horario + ':00';
                horario         = tabelaHorario[horaIndex[consulta.horario + ':00']][semanaIndex[consulta.data]];
                data            = consulta.data;
            }

            const children = document.getElementById('cabecalho_dias').children;

            for(let i = 0; i < 7; i++) {
                children[i].innerHTML = `<p>${weekInfo[i].week.name}</p><p class="data">${weekInfo[i].day + '/' + weekInfo[i].month}</p>`
            }
        });
        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
            if (fontSize <= 30){
                fontSize += 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        
            if (fontSize >= 16){
                fontSize -= 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Aplicar o tamanho de fonte armazenado no carregamento da página
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';

        //concluir agendamento salvando os dados 
        // localStorage.getItem('horario')
        
        var inputElement = document.getElementById('nomeMedico');
        inputElement.value = consulta.nome_medico;

        inputElement = document.getElementById('convenioMedico');
        inputElement.value = consulta.convenio_medico;

        inputElement = document.getElementById('motivoConsulta');
        inputElement.value = consulta.motivo_consulta;
        
        var diaSemana = consulta.data;

        //salvando agendamento no banco de dados 
        document.getElementById("btnagendamento").addEventListener("click", function () {
            const horario       = horarioMarcado;
            const convenio_medico = document.getElementById('convenioMedico').value;
            const motivo_consulta = document.getElementById('motivoConsulta').value;

            //Construir o objeto com os dados a serem enviados
            const dados = {
                horario: horario,
                convenio_medico: convenio_medico,
                motivo_consulta: motivo_consulta,
                data,
                id_paciente: consulta.id_paciente,
                id_medico: consulta.id_medico
            };

            console.log(dados);

            // Configurar as opções da requisição POST
            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(dados)
            };

            // Enviar a requisição POST para a URL desejada
            fetch(`/alterarAgendamentos/${consulta.id}`, requestOptions)
            .then(response => response.text())
            .then(data => {
                // Tratar a resposta da API
                location.href = '../tela6-consultasMarcadas/index.html';
            })
            .catch(error => {
                // Tratar erros
                alert('Algum erro ocorreu');
            });
        });

    </script>
</body>

</html>
