@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');

:root {
    /* #002244 */
    --btn-color: #0500FF; 
    /* #375A7F */
    --btn-hover-color: #131184;
    
    /* #0082E0 */
    --hour-table-selected-state: #0500FF;
    /* #DEEFFB */
    --btn-hour-table-available-state: #131184;
    /* 0082E0 */
    --text-hour-table-available-state: white;

    /* none; */
    --border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color:   #FFFFFF;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #ffff;
    text-decoration: none;
}

/* NavBar */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;

    background: #000000;
}

img [src="cruz 1.png"]{
    position: relative;
    left: 20%;
}

.logo{
    position: relative;
    width: 254px;
    height: 54px;
    left: 10px;
}

/* Formulário */
.formulario {
    margin: auto;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    width: 50%;
}

.campos h3{
    padding-top: 2%;
}

.campos input{
    height: 50px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-left: 1%;
    font-size: 15px;
    font-weight: 500;
    background-color: #EBEBEB;
    border: none;
    border-radius: 10px;
}

.campos textarea{
    height: 100px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 15px;
    font-weight: 500;
    background-color: #EBEBEB;
    border: none;
    border-radius: 10px;
}

.campos button {
    border: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 00;
    color:  #FFFFFF;
    width: 25%;
    height: 50px;
    float:right; 
    /* background: #0082E0; */
    background-color: var(--btn-color);
    border-radius: 30px;
}

.btn-agendar {
    width: 300px !important;
}

.botao {
    margin-top: 2%;
    width: 220px;
}

.botao button:hover {
    background-color:  var(--btn-hover-color);
}

.agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.data {
    font-size: 12px;
}

.indisponivel {
    color: #606060 !important;
    background-color: #E1E1E1 !important;
    border: 1px solid  #E1E1E1 !important;
}

.disponivel{
    color: var(--text-hour-table-available-state) !important;
    background-color: var(--btn-hour-table-available-state) !important;
    border: 1px solid  white !important;
}

.selecionado {
    color: white !important;
    background-color: var(--hour-table-selected-state) !important;
    border: 1px solid  #0082E0 !important;
}

.tabela {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px;
    table-layout: fixed;
}

.tabela tbody td {
    color: var(--text-hour-table-available-state);
    font-size: 18px;
    background-color: #DEEFFB;
    border: 1px solid #DEEFFB;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
}

.tabela thead th {
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.tabela tfoot {
    font-size: 14px;
    font-weight: bold;
}

.tabela tfoot td {
    font-size: 14px;
}

.tabela tfoot .links {
    text-align: right;
}

.outline-marker {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    border-radius: 40px;
    border: 2px solid  white;
    top:38px;
    height: 40px;
    color: white;
}

.linha-verical {
    width: 38px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg); 
}

.acessib-cor{
    color: white;
    outline: #FFFFFF;
}

.acessib-cor:focus, .acessib-cor:hover {
    color: white;
}

.item1:hover {
    background-color: #0082E0;
}

.item2:hover {
    background-color: #0082E0;
}

.item3:hover {
    background-color: #0082E0;
}