<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <title>Medicine</title>
    
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="logo.png" width="254px" height="54px" alt="logo">
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a id="inicio" href="../tela7-horarios/index.html" class="text-white ms-4 mb-0 font-header">HORÁRIOS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header outline-marker">LOGOUT</a>
            </div>
        </nav>
    </header>

    <div class="consultas" id="consultas">
        <h1 class="texto-consultas">Suas consultas agendadas:</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        if (fontSize <= 20){
            fontSize += 2;
        }
        console.log(fontSize);
        document.documentElement.style.fontSize = fontSize + 'px';
        localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        
            if (fontSize >= 16){
                fontSize -= 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Aplicar o tamanho de fonte armazenado no carregamento da página
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';


        //agendamento
        const id_medico = localStorage.getItem("id_medico")
        const url = "/listarAgendamentosMedico/"+id_medico; // substitua com a URL correta

        fetch(url)
        .then(response => {
            if (response.ok) {
            return response.json();
            } else {
            throw new Error("Falha na requisição. Código de status: " + response.status);
            }
            
        })
        .then(data => {
            console.log(data);
            for(consulta of data) {
                consulta.horario = consulta.horario.substring(0,consulta.horario.length-3);
                var consultas = document.getElementById("consultas");
                consultas.insertAdjacentHTML("beforeend", `<div class='paciente-info' data-id='${consulta.id}'>`+
                    "<div>"+
                        `<h1>${consulta.nome_completo}</h1>`+
                    `<p>Horário marcado: ${consulta.horario} horas do dia ${consulta.data}</p>`+
                        `<p>Motivo da consulta: ${consulta.motivo_consulta} </p>`+
                    " </div>"+
                    "</div>"
                );
            }
        })
        .catch(error => {
            console.log("Erro:", error.message);
        });


    </script>
    <script src="../HeaderFooter/scriptColor.js">
    </script>
</body>

</html>