<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style1.css">
    <!-- <link rel="stylesheet" type="text/css" href="../HeaderFooter/style.css"> -->
    <title>Tela de Login</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            <ul class="nav-list">
                <button id='btnColor' class="botaocss">ALTERAR TEMA</button>
                <li><a href="#">INÍCIO</a></li>
                <li><a href="#">PROFISSIONAIS</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#">LOGIN</a></li> 
                <li class="registro"><a href="#">REGISTRAR-SE</a></li>
            </ul>
        </nav>
    </header>

    <div class="information">
        <div class="texto">
            <h1>Dra. Juliana Brasil</h1>
            <h2>Formada em medicina pela Universidade Federal do Ceará (UFC). Especialidades: Psicoterapia, Psiquiatria
                da Infância e da adolescência</h2>
        </div>
        <div class="foto">
            <img class="perfil-doc" src="juliana.png" alt="juliana">
        </div>
    </div>

    <div class="paciente-info">
        <h1>Lúcia Soares</h1>
        <p>Horário marcado: 14 horas do dia 17/06</p>
        <p>Motivo da consulta: Pequena descrição do motivo da consulta aqui.</p>
    </div>

    <div class="paciente-info">
        <h1>Lúcia Soares</h1>
        <p>Horário marcado: 14 horas do dia 17/06</p>
        <p>Motivo da consulta: Pequena descrição do motivo da consulta aqui.</p>
    </div>

    <footer>
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="logo.png" alt="logo">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="face.svg" alt="facebook">
                    <img  src="insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>

    <script src="../HeaderFooter/scriptColor.js">
    </script>
</body>

</html>