<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="logo.png" width="254px" height="54px" alt="logo" onclick="window.location.href='/view/tela1-profissionais/index.html'">
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGOUT</a>
                <a class="linha-verical ms-3"></a>
                <a id="registro" href="../tela8-consultasMedico/index.html" class="text-white ms-4 mb-0 font-header outline-marker">CONSULTAS</a>
            </div>
        </nav>
    </header>

    <div class="m-100">
        <button class="change-info" onclick="editarPerfil()"> EDITAR INFORMAÇÕES </button>
    </div>

    <div class="information">
        <div class="texto">
            <h1>Selecione abaixo os horários disponíveis para atendimento.</h1>
        </div>
    </div>

    <div class="agendamento">
        <table class="tabela">
            <thead class = "dias">
                <tr id="cabecalho_dias">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabela">
                <tr>
                    <td class = "horario">08:00</td>
                    <td class = "horario">08:00</td>
                    <td class = "horario">08:00</td>
                    <td class = "horario">08:00</td>
                    <td class = "horario">08:00</td>
                    <td class = "horario">08:00</td>
                    <td class = "horario">08:00</td>
                </tr>
                <tr>
                    <td class = "horario">09:00</td>
                    <td class = "horario">09:00</td>
                    <td class = "horario">09:00</td>
                    <td class = "horario">09:00</td>
                    <td class = "horario">09:00</td>
                    <td class = "horario">09:00</td>
                    <td class = "horario">09:00</td>
                </tr>
                <tr>
                    <td class = "horario">10:00</td>
                    <td class = "horario">10:00</td>
                    <td class = "horario">10:00</td>
                    <td class = "horario">10:00</td>
                    <td class = "horario">10:00</td>
                    <td class = "horario">10:00</td>
                    <td class = "horario">10:00</td>
                </tr>
                <tr>
                    <td class = "horario">11:00</td>
                    <td class = "horario">11:00</td>
                    <td class = "horario">11:00</td>
                    <td class = "horario">11:00</td>
                    <td class = "horario">11:00</td>
                    <td class = "horario">11:00</td>
                    <td class = "horario">11:00</td>
                </tr>
                <tr>
                    <td class = "horario">14:00</td>
                    <td class = "horario">14:00</td>
                    <td class = "horario">14:00</td>
                    <td class = "horario">14:00</td>
                    <td class = "horario">14:00</td>
                    <td class = "horario">14:00</td>
                    <td class = "horario">14:00</td>
                </tr>
                <tr>
                    <td class = "horario">15:00</td>
                    <td class = "horario">15:00</td>
                    <td class = "horario">15:00</td>
                    <td class = "horario">15:00</td>
                    <td class = "horario">15:00</td>
                    <td class = "horario">15:00</td>
                    <td class = "horario">15:00</td>
                </tr>
                <tr>
                    <td class = "horario">16:00</td>
                    <td class = "horario">16:00</td>
                    <td class = "horario">16:00</td>
                    <td class = "horario">16:00</td>
                    <td class = "horario">16:00</td>
                    <td class = "horario">16:00</td>
                    <td class = "horario">16:00</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="salvar">
        <div class="div-botao">
            <button class="botaoconfirmar" id="btnConfirmar"> SALVAR ALTERAÇÕES </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        var horariosDB = Array(7).fill([]).map(function(e) {
            return Array(7).fill(undefined);
        });

        var celulasClicadas = Array(7).fill([]).map(function(e) {
            return Array(7).fill(0);
        });

        function getDateInfo(date) {
            const weekIndex = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];

            const today  = date ?? new Date();

            return {
                day: today.getDate(),
                week: {
                    name: weekIndex[today.getDay()],
                    number: today.getDay()
                },
                month: today.getMonth()+1
            }
        }

        function getWeekDateInfo() {
            const weekIndex = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];
            const date = new Date();

            const getDateIncreased = (days) => {
                return new Date(date.setDate(date.getDate() + days));
            }

            return Array(7).fill(0).map((v, i) => getDateInfo(getDateIncreased(!!i)));
        }

        const elementos = document.querySelectorAll('.horario');

        const id_medico = localStorage.getItem('id_medico');

        const weekInfo = getWeekDateInfo();

        const children = document.getElementById('cabecalho_dias').children;

        for(let i = 0; i < 7; i++) {
            children[i].innerHTML = `<p>${weekInfo[i].week.name}</p><p class="data">${weekInfo[i].day + '/' + weekInfo[i].month}</p>`
        }

        elementos.forEach(function(elemento) {
            elemento.addEventListener('click', function(event) {
                const data      = weekInfo.map((e) => e.day + '/' + e.month);
                const horarios  = ['08:00:00', '09:00:00', '10:00:00', '11:00:00', '14:00:00', '15:00:00', '16:00:00'];

                var y = this.cellIndex;
                var x = this.parentNode.rowIndex-1;

                if(!horariosDB[x][y]) {
                    horariosDB[x][y] = { data: data[y], horario: horarios[x] }
                    this.className = 'selecionado';
                } else {
                    horariosDB[x][y] = undefined;
                    this.className = 'horario';
                }

                console.log(horariosDB);
            });
        });

        
        document.getElementById('btnConfirmar').addEventListener('click', function(event) {
            const horarios = [];
            horariosDB.forEach((arg1) => {
                arg1.forEach((arg2) => {
                    horarios.push(...(arg2 ? [arg2] : []));
                });
            });

            console.log(horarios);

            const url = '/marcarHorario/';
            const data = {
                id_medico,
                horario: horarios
            };

            options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            fetch(url, options)
            .then(res => {
                if(res.ok) {
                    return res.text();
                } else {
                    throw new Error("Falha na requisição. Código de status: " + res.status);
                }
            })
            .then(res => {
                alert(res);
            }).catch(err => {
                console.log(err);
            });
        });

        const url = `/listarTodosHorarios/${id_medico}`;

        fetch(url).then(res => {
            if(res.ok) {
                return res.json();
            } else {
                throw new Error("Falha na requisição. Código de status: " + res.status);
            }
        }).then(data => {
            const semanaIndex = {};

            weekInfo.forEach((v, index) => {
                semanaIndex[v.day + '/' + v.month] = index;
            });

            const horaIndex = {
                '08:00:00': 0,
                '09:00:00': 1,
                '10:00:00': 2,
                '11:00:00': 3,
                '14:00:00': 4,
                '15:00:00': 5,
                '16:00:00': 6,
            };

            const table = document.getElementById('tabela');
            const tabelaHorario = Array(7).fill([]).map(e => Array(7).fill({}));

            var outerIndex = 0;
            for(let i of table.children) {
                var innerIndex = 0;
                for(let j of i.children) {
                    tabelaHorario[outerIndex][innerIndex] = j
                    innerIndex++;
                }
                outerIndex++;
            }

            for(let horario of data) {
                if(semanaIndex[horario.data] != undefined) {
                    tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.data]].className = 'selecionado';
                    horariosDB[horaIndex[horario.horario]][semanaIndex[horario.data]] = { data: horario.data, horario: horario.horario }
                }
            }
        });

        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
            if (fontSize <= 30){
                fontSize += 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        
            if (fontSize >= 16){
                fontSize -= 2;
            }

            document.documentElement.style.fontSize = fontSize + 'px';

            localStorage.setItem('fontSize', fontSize);
        }

        function editarPerfil() {
            window.location.href = '/view/tela9-perfilMedico/index.html';
        }

        // Aplicar o tamanho de fonte armazenado no carregamento da página
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';
    </script>
    <script src="../HeaderFooter/scriptColor.js"> </script>
</body>

</html>