<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <!-- <link id="cssFile" rel="stylesheet" type="text/css" href="style1.css"> -->
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav class="d-flex align-items-center">
            <div>
                <img src="../HeaderFooter/logo.png" width="254px" height="54px" alt="logo">
            </div>
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a id="inicio" href="#" class="text-white ms-4 mb-0 font-header">INICIO</a>
                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGIN</a>
                <a id="registrar" href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>

                <!-- <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li> -->
            </div>
        </nav>
    </header>
    <div class="information">
        <div class="texto">
            <h1 id="nomeMedico">Dra. Juliana Brasil</h1>
            <h2 id="descricaoMedico">Formada em medicina pela Universidade Federal do Ceará (UFC). Especialidades: Psicoterapia, Psiquiatria
                da Infância e da adolescência</h2>
            <div class="d-flex price gap-4">
                <div class="d-flex price gap-4 m-0 shadow-lg">
                    <p class="m-0 pt-1 ms-2">VALOR CONSULTA</p>
                    <p class="price-block" id="valor-consulta">200R$</p>
                </div>
            </div>
            <h5>*Valor referente a consulta sem convênio médico.</h5>
        </div>
        <div id="medicoFoto" class="foto">
            <!-- <img class="perfil-doc" src="image1.png" alt="juliana"> -->
        </div>
    </div>

    <div class = "instrucoes">
        <div>
            <p Clique em um horário disponível para prosseguir com o agendamento da colsulta.</p> 
        </div>
    </div>
    
    <div class="agendamento">
        <table class="tabela">
            <thead class = "dias">
                <tr id="cabecalho_dias">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabela2">
                <tr>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">10:00</td>
                    <td class="indisponivel">10:00</td>
                    <td class="indisponivel">10:00</td>
                    <td class = "indisponivel">10:00</td>
                    <td class="indisponivel">10:00</td>
                    <td class = "indisponivel">10:00</td>
                    <td class = "indisponivel">10:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class = "indisponivel">11:00</td>
                    <td class = "indisponivel">11:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class = "indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                </tr>
                <tr>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="botao-agendamento">
        <div class="div-botao" id="btnPrincipal">
            <!-- <button class="botao" id="botaoMarcaHorario">Marcar Consulta</button> -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../HeaderFooter/scriptColor.js"> </script>

    <script>
        if(localStorage.getItem('id_paciente')) {
            const btn = document.getElementById('btnPrincipal');
            btn.innerHTML = '<button class="botao" id="botaoMarcaHorario">Marcar Consulta</button>';

            // document.getElementById('inicio').textContent    = '';
            document.getElementById('registrar').remove()
            document.getElementById('login').textContent = 'LOGOUT';
        }


        var horario = undefined;
        var horarioMarcado = '';
        var data = '';
        function selecionarHorario(event) {
            // Verificar se o horário está disponível
            if (!this.classList.contains('indisponivel')) {
                if(horario != undefined) {
                    horario.className = 'disponivel';
                }

                this.className = 'selecionado';

                if(horario==this) {
                    this.className = 'disponivel'
                    horarioMarcado='';
                    horario = undefined;
                }else{
                    horarioMarcado = this.textContent;
                    var cell = event.target;
                    // var rowIndex = cell.parentNode.rowIndex; // Índice da linha
                    var cellIndex = cell.cellIndex; // Índice da célula na linha
                    data = document.getElementById('cabecalho_dias').children[cellIndex].children[1].textContent;
                    horario=this;
                }
            }
        }

        const id_medico = localStorage.getItem('id_medico');

        // parser date
        function getDateInfo(date) {
            const weekIndex = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];

            const today  = date ?? new Date();

            return {
                day: today.getDate(),
                week: {
                    name: weekIndex[today.getDay()],
                    number: today.getDay()
                },
                month: today.getMonth()+1
            }
        }

        function getWeekDateInfo() {
            const weekIndex = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'];
            const date = new Date();

            const getDateIncreased = (days) => {
                return new Date(date.setDate(date.getDate() + days));
            }

            return Array(7).fill(0).map((v, i) => getDateInfo(getDateIncreased(!!i)));
        }

        const weekInfo = getWeekDateInfo();

        const url = `/listarHorarios/${id_medico}`;

        fetch(url).then(res => {
            if(res.ok) {
                return res.json();
            } else {
                throw new Error("Falha na requisição. Código de status: " + res.status);
            }
        }).then(data => {
            const semanaIndex = {};

            weekInfo.forEach((v, index) => {
                semanaIndex[v.day + '/' + v.month] = index;
            });

            const horaIndex = {
                '08:00:00': 0,
                '09:00:00': 1,
                '10:00:00': 2,
                '11:00:00': 3,
                '14:00:00': 4,
                '15:00:00': 5,
                '16:00:00': 6,
            };

            const table = document.getElementById('tabela2');
            const tabelaHorario = Array(7).fill([]).map(e => Array(7).fill({}));

            var outerIndex = 0;
            for(let i of table.children) {
                var innerIndex = 0;
                for(let j of i.children) {
                    tabelaHorario[outerIndex][innerIndex] = j
                    innerIndex++;
                }
                outerIndex++;
            }

            for(let horario of data) {
                if(semanaIndex[horario.data] != undefined) {
                    tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.data]].className = 'disponivel';
                    tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.data]].addEventListener('click', selecionarHorario);
                }
            }

            const children = document.getElementById('cabecalho_dias').children;

            for(let i = 0; i < 7; i++) {
                children[i].innerHTML = `<p>${weekInfo[i].week.name}</p><p class="data">${weekInfo[i].day + '/' + weekInfo[i].month}</p>`
            }

            document.getElementById('medicoFoto').innerHTML = `<img class="perfil-doc" src='${localStorage.getItem('medicoFoto')}' alt="juliana" width='300' height='300'>`;
        });

        const nome      = localStorage.getItem("nomeMedico");
        const descricao = localStorage.getItem("descricaoMedico");
        const valor_consulta = localStorage.getItem("valor_consulta");

        document.getElementById('nomeMedico').textContent = nome;
        document.getElementById('descricaoMedico').textContent = descricao;
        document.getElementById('valor-consulta').textContent = valor_consulta;

        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
            if (fontSize <= 30){
                fontSize += 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        
            if (fontSize >= 16){
                fontSize -= 2;
            }
            console.log(fontSize);
            document.documentElement.style.fontSize = fontSize + 'px';
            localStorage.setItem('fontSize', fontSize);
        }

        // Event listeners para os botões de alteração de tamanho da fonte
        // Aplicar o tamanho de fonte armazenado no carregamento da página
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';

        if(document.getElementById('botaoMarcaHorario')) {
            //Aplica ação de prosseguir com o agendamento casdo o usuário tenha marcado o horário
            document.getElementById("botaoMarcaHorario").addEventListener("click", function(event){
                if(horarioMarcado==''){
                    alert("É necessário marcar um hoário para prosseguir.");
                }else{
                    const h1Element = document.getElementById('nomeMedico');
                    const nomeMedico = h1Element.textContent;
                    
                    location.href = "/view/tela3-formulario/index1.html?horario="+horarioMarcado+"&nomeMedico="+nomeMedico+"&data="+data;
                }
            })
        }

    </script>
</body>

</html>