<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style1.css">
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="logo.png" alt="logo">
            <ul class="nav-list">
                <button id="btnAumentarFonte">A+</button>
                <button id="btnDiminuirFonte">A-</button>
                <button id='btnColor' class="botaocss">ALTERAR TEMA</button>
                <li><a href="../tela0-login/index.html">INÍCIO</a></li>
                <li><a href="../tela1-profissionais/index.html">PROFISSIONAIS</a></li>
                <li><a href="#"></a></li>
                <li><a href="../tela0-login/index.html">LOGIN</a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li>
            </ul>
        </nav>
    </header>
    <div class="information">
        <div class="texto">
            <h1 id="nomeMedico">Dra. Juliana Brasil</h1>
            <h2 id="descricaoMedico">Formada em medicina pela Universidade Federal do Ceará (UFC). Especialidades: Psicoterapia, Psiquiatria
                da Infância e da adolescência</h2>
            <div class="price">
                <p>VALOR CONSULTA</p>
                <p class="price-block">200R$</p>
            </div>
            <h5>*Valor referente a consulta sem convênio médico.</h5>
        </div>
        <div class="foto">
            <img class="perfil-doc" src="juliana.png" alt="juliana">
        </div>
    </div>

    <div class = "instrucoes">
        <div>
            <p>> Clique em um horário disponível para prosseguir com o agendamento da colsulta.</p> 
        </div>
    </div>


    <div class="agendamento">
        <table class="tabela">
            <thead class = "dias">
                <tr>
                    <th><p>Dom</p><p class="data">02/07</p></th>
                    <th><p>Seg</p><p class="data">03/07</p></th>
                    <th><p>Ter</p><p class="data">04/07</p></th>
                    <th><p>Qua</p><p class="data">05/07</p></th>
                    <th><p>Qui</p><p class="data">06/07</p></th>
                    <th><p>Sex</p><p class="data">07/07</p></th>
                    <th><p>Sáb</p><p class="data">08/07</p></th>
                </tr>
            </thead>
            <tbody id="tabela2">
                <tr>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class="indisponivel">08:00</td>
                    <td class="indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                    <td class = "indisponivel">08:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                    <td class="indisponivel">09:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">10:00</td>
                    <td class="indisponivel">10:00</td>
                    <td class="indisponivel">10:00</td>
                    <td class = "indisponivel">10:00</td>
                    <td class="indisponivel">10:00</td>
                    <td class = "indisponivel">10:00</td>
                    <td class = "indisponivel">10:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class="indisponivel">11:00</td>
                    <td class = "indisponivel">11:00</td>
                    <td class = "indisponivel">11:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class = "indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                    <td class="indisponivel">14:00</td>
                </tr>
                <tr>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                    <td class = "indisponivel">15:00</td>
                </tr>
                <tr>
                    <td class="indisponivel">16:00</td>>
                    <td class="indisponivel">16:00</td>>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                    <td class="indisponivel">16:00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="botao-agendamento">
        <div class="div-botao">
            <button class="botao" id="botaoMarcaHorario">Marcar Consulta</button>
        </div>
    </div>

    <footer>
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="logo.png" alt="logo">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="face.svg" alt="facebook">
                    <img  src="insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>

    <script>
        var horario = undefined;
        var horarioMarcado = '';
        var diaSemana = '';
        function selecionarHorario(event) {
            // Verificar se o horário está disponível
            if (!this.classList.contains('indisponivel')) {
                if(horario != undefined) {
                    horario.className = 'disponivel';
                }

                this.className = 'selecionado';

                // Lógica para selecionar o horário e armazenar em um banco de dados
                // Por exemplo, você pode adicionar uma classe ao horário selecionado
                console.log(this);
                if(horario==this) {
                    this.className = 'disponivel'
                    horarioMarcado='';
                    horario = undefined;
                }else{
                    horarioMarcado = this.textContent;
                    var cell = event.target;
                    // var rowIndex = cell.parentNode.rowIndex; // Índice da linha
                    var cellIndex = cell.cellIndex; // Índice da célula na linha
                    diaSemana = cellIndex;
                    horario=this;
                }
            }
        }

        const id_medico = localStorage.getItem('id_medico');

        // carregar os horários do médico

        const url = `http://localhost:3000/listarHorarios/${id_medico}`;

        fetch(url).then(res => {
            if(res.ok) {
                return res.json();
            } else {
                throw new Error("Falha na requisição. Código de status: " + res.status);
            }
        }).then(data => {
            const semanaIndex = {
                'domingo': 0,   'segunda': 1,
                'terca':   2,   'quarta':  3,
                'quinta':  4,   'sexta':   5,
                'sabado':  6
            };

            const horaIndex = {
                '08:00': 0,
                '09:00': 1,
                '10:00': 2,
                '11:00': 3,
                '14:00': 4,
                '15:00': 5,
                '16:00': 6,
            };

            for(horario of data) {
                horario.horario = horario.horario.substr(0, horario.horario.length-3);
            }

            const table = document.getElementById('tabela2');
            const tabelaHorario = Array(7).fill([]).map(e => Array(7).fill({}))

            var outerIndex = 0;
            for(i of table.children) {
                var innerIndex = 0;
                for(i of i.children) {
                    tabelaHorario[outerIndex][innerIndex] = i
                    innerIndex++;
                }
                outerIndex++;
            }

            for(horario of data) {
                tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.diasemana]].className = 'disponivel';
                // function selecionarHorario(event)
                tabelaHorario[horaIndex[horario.horario]][semanaIndex[horario.diasemana]].addEventListener('click', selecionarHorario);
            }

            console.log(data);
        });

        const nome      = localStorage.getItem("nomeMedico");
        const descricao = localStorage.getItem("descricaoMedico");

        document.getElementById('nomeMedico').textContent = nome;
        document.getElementById('descricaoMedico').textContent = descricao;

        // Função para aumentar o tamanho da fonte
        function aumentarFonte() {
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        if (fontSize <= 30){
            fontSize += 2;
        }
        console.log(fontSize);
        document.documentElement.style.fontSize = fontSize + 'px';
        localStorage.setItem('fontSize', fontSize);
        }

        // Função para diminuir o tamanho da fonte
        function diminuirFonte() {
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
    
        if (fontSize >= 16){
            fontSize -= 2;
        }
        console.log(fontSize);
        document.documentElement.style.fontSize = fontSize + 'px';
        localStorage.setItem('fontSize', fontSize);
        }

        // Event listeners para os botões de alteração de tamanho da fonte
        document.getElementById('btnAumentarFonte').addEventListener('click', aumentarFonte);
        document.getElementById('btnDiminuirFonte').addEventListener('click', diminuirFonte);

        // Aplicar o tamanho de fonte armazenado no carregamento da página
        var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        document.documentElement.style.fontSize = fontSize + 'px';

        //Aplica ação de prosseguir com o agendamento casdo o usuário tenha marcado o horário
        document.getElementById("botaoMarcaHorario").addEventListener("click",function(event){
            if(horarioMarcado==''){
                alert("É necessário marcar um hoário para prosseguir.");
            }else{
                const h1Element = document.getElementById('nomeMedico');
                const nomeMedico = h1Element.textContent;
                
                location.href = "http://127.0.0.1:3000/view/tela3-formulario/index1.html?horario="+horarioMarcado+"&nomeMedico="+nomeMedico+"&diaSemana="+diaSemana;
            }
        })
    </script>
    <script src="../HeaderFooter/scriptColor.js">

    </script>
</body>

</html>