<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link id="cssFile" rel="stylesheet" type="text/css" href="style.css">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <title>Medicine</title>
</head>

<body>
    <header>
        <nav class="d-flex align-items-center">
            <div>
                <img src="../HeaderFooter/logo.png" width="254px" height="54px" alt="logo">
            </div>
            <div class="nav-list d-flex align-items-center justify-content-center">
                <div class="dropdown">
                    <button class="btn border acessib-cor dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ACESSIBILIDADE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="m-0"><a class="dropdown-item item1" href="#" onclick="aumentarFonte(event)">A+</a></li>
                        <li class="m-0"><a class="dropdown-item item2" href="#" onclick="diminuirFonte(event)">A-</a></li>
                        <li class="m-0"><a class="dropdown-item item3" href="#" id="btnColor">ALTERAR TEMA</a></li>
                    </ul>
                </div>

                <a href="#" class="text-white ms-4 mb-0 font-header">INÍCIO</a>
                <a href="../tela1-profissionais/index.html" class="text-white ms-4 mb-0 font-header">PROFISSIONAIS</a>
                <a class="linha-verical ms-3"></a>
                <a id="login" href="../tela0-login/index.html" class="text-white ms-4 mb-0 font-header">LOGIN</a>
                <a id="registrar" href="../tela4-cadastroUsuario/index.html" class="text-white ms-4 mb-0 font-header outline-marker">REGISTRAR-SE</a>

                <!-- <li><a href="../tela1-profissionais/index.html">INÍCIO</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li> -->
            </div>
        </nav>
    </header>

    <!-- <header>
        <nav>
            <img class="logo" src="../HeaderFooter/logo.png" alt="logo">
            <ul class="nav-list">
                <button id="btnAumentarFonte">A+</button>
                <button id="btnDiminuirFonte">A-</button>
                <button id='btnColor' class="botaocss">ALTERAR TEMA</button>
                <li><a id="login" href="../tela0-login/index.html">LOGIN</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li class="registro"><a id="registrar" href="../tela4-cadastroUsuario/index.html">REGISTRAR-SE</a></li>
            </ul>
        </nav>
    </header> -->
    
    <div class = "inicio"> 
        <div class="imagem">
            <img src="image3.png" alt="médicos" >
        </div>
        <div class="texto1">
            <h1>Conheça nossos profissionais!</h1>
            <h2><b>Agende uma consulta com um de nossos diversos profissionais da área da saúde.</b></h3>
        </div>
    </div>

    <div id="medicos">
        <div id="informacoes">
        </div>
    </div>

    <footer class="footer">
        <div class="conteudo-footer">
            <div>
                <img class="logo" src="../HeaderFooter/logo.png" alt="logo" width="254px" height="54px">
            </div>
            <div>
                <ul class = "links-footer">
                    <li><h2>Insitucional</h2></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Profissionais</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Redes Sociais</h2>
                <div class = "icones">
                    <img class = "facebook" src="../HeaderFooter/face.svg" alt="facebook">
                    <img  src="../HeaderFooter/insta.svg" alt="instagram">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        if(localStorage.getItem('id_paciente')) {
            const btnLogin = document.getElementById('login');
            console.log(btnLogin);
            btnLogin.textContent = 'LOGOUT';

            const btnRegister = document.getElementById('registrar');
            btnRegister.setAttribute('href', '../tela6-consultasMarcadas/index.html');
            btnRegister.textContent = 'CONSULTAS';
        }

        // Função para aumentar o tamanho da fonte
            function aumentarFonte() {
                var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
                if (fontSize <= 30){
                    fontSize += 2;
                }
                console.log(fontSize);
                document.documentElement.style.fontSize = fontSize + 'px';
                localStorage.setItem('fontSize', fontSize);
            }

            // Função para diminuir o tamanho da fonte
            function diminuirFonte() {
                var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
        
                if (fontSize >= 16){
                    fontSize -= 2;
                }
                console.log(fontSize);
                document.documentElement.style.fontSize = fontSize + 'px';
                localStorage.setItem('fontSize', fontSize);
            }

            // Aplicar o tamanho de fonte armazenado no carregamento da página
            var fontSize = parseInt(localStorage.getItem('fontSize')) || 16;
            document.documentElement.style.fontSize = fontSize + 'px';
            
            // CARREGAR OS MEDICOS

            var divPrincipal = document.getElementById('informacoes');

            const url = 'http://localhost:3000/listarMedicos/';

            fetch(url)
            .then(res => {
                if(res.ok) {
                    return res.json();
                } else {
                    throw new Error("Falha na requisição. Código de status: " + response.status);
                }
            })
            .then(res => {
                for(medico of res) {
                    console.log(medico.foto);
                    divPrincipal.insertAdjacentHTML('beforeend', 
                        `<div class="retangulo-medico" id='${medico.id}'>` +
                            '<div class="informacoes-medico">' +
                                `<img src='${medico.foto}' alt=${medico.nome} width='160' height='160'>` +
                                '<div>'+
                                    `<h1>${medico.nome} | ${medico.area_medica}</h1>`+
                                    `<p>${medico.descricao}</p>`+
                                '</div>'+
                            '</div>'+
                            '<div class="div-botao">'+
                                `<button class="botao" id='botao${medico.id}'>`+
                                    'HORÁRIOS DISPONÍVEIS'+
                                '</button>'+
                            '</div>'+
                        '</div>'
                    );

                    document.getElementById('botao'+medico.id).addEventListener('click', function(event) {
                        const target = event.target;
                        const h1_info = target.parentNode.parentNode.children[0].children[1];
                        const h1Text = h1_info.children[0].textContent;
                        const descricao  = h1_info.children[1].textContent;
                        const nome       = h1Text.substring(0, h1Text.indexOf('|')-1);
                        const id_medico  = target.parentNode.parentNode.id;
                        const medicoFoto  = target.parentNode.previousElementSibling.children[0].src

                        localStorage.setItem('nomeMedico', nome);
                        localStorage.setItem('descricaoMedico', descricao);
                        localStorage.setItem('id_medico', id_medico);
                        localStorage.setItem('medicoFoto', medicoFoto);

                        location.href = '../tela2-medico/index.html';
                    });
                }
            });

    </script>

    <script src="../HeaderFooter/scriptColor.js">

    </script>
</body>
</html>
